<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YAML editor for sc4pac</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SC4PackMan.styles.css" asp-append-version="true" />
</head>
<body class="d-flex flex-column h-100 mb-0">
    <header>
        <nav class="navbar navbar-light border-bottom box-shadow bg-light mb-3"">
            <div class="container justify-content-start">
                <h1 class="navbar-brand mb-0">YAML editor for sc4pac</h1>
                <span class="navbar-text">This tool is designed to help create and edit YAML metadata files used by <a href="https://community.simtropolis.com/forums/topic/762677-sc4pac-lets-write-our-own-package-manager/">sc4pac</a>. Please contact <a href="https://community.simtropolis.com/profile/455740-nos17/">nos.17</a> with any comments or issues.</span>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="flex-shrink-0">
            @RenderBody()
        </main>
    </div>

    <footer class="footer mt-auto py-3 bg-light">
        <span class="container text-muted">&copy; 2024 - YAML editor for sc4pac</span>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
