@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
.container {
    max-width: 98%
}

html {
  position: relative;
}

body {
  margin-bottom: 60px;
}

.EasyMDEContainer {
    width: 100%;
}
.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}
.CodeMirror {
    border: 1px solid lightgrey;
    /*flex: 1 1 auto;*/
}
.CodeMirror-scroll {
}

.required {
    /*border-color:dodgerblue;*/
}

.required-label:after {
    content: "*" !important;
    padding-left: .2rem;
    color: red;
    position: initial !important;
}

/*Tab Styles*/
.nav-link {
    font-size: 1.1rem;
}

/* https://stackoverflow.com/a/50478244/10802255 */
.w1 {
    width: 70px;
}
.w2 {
    width: 110px;
}

.ts-wrapper .ts-dropdown .optgroup .optgroup-label {
  font-size: 0.875rem;
  line-height: 1.5;
  color: rgb(108, 117, 125);
  padding: 3px 0.75rem;
}

.tooltip-inner {
    max-width: 100% !important;
}
    .tooltip-inner code {
        color: #ff5722;
        font-weight: bold;
    }

#Column0, #Column1, #Column2 {
    /*border: 1px solid black;*/
}
/* This is the code editor */
.CodeMirror.cm-s-default {
    height: 75%;
}
/* This is the markdown editor */
.CodeMirror.cm-s-easymde {
    width: 100%;
}