@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
.container {
    max-width: 98%
}

html {
  position: relative;
}

body {
  margin-bottom: 60px;
}

.column {
    flex: 50%;
    /*display:flex*/
}

#FileName {
    font-family: Courier New, Courier, monospace;
}

.CodeMirror {
    border: 1px solid turquoise;
}
.CodeMirror-scroll {
    /*height: 650px;*/
    background-color: azure;
}

table {
    width: 100%;
}
.visible2 {
    visibility: visible;
    display: block;
}

.invisible2 {
    visibility: hidden;
    display: none;
}

.required {
    border-color:dodgerblue;
}

.required-label:after {
    content: " *";
    color:red;
}

/*Tab Styles*/
.nav-link {
    font-size: 1.1rem;
}

/* https://stackoverflow.com/a/50478244/10802255 */
.input-group-text {
    width: 70px; /*adjust as needed*/
}

.form-control.ts-wrapper {
    height: initial !important;
    padding-top: 2.125rem !important;
}

.form-control, textarea {
    height: 100% !important;
}