@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
.container {
    max-width: 98%
}

html {
  position: relative;
}

body {
  margin-bottom: 60px;
}

.CodeMirror {
    border: 1px solid turquoise;
}
.CodeMirror-scroll {
    max-height: 70vh;
    overflow: auto;
    background-color: azure;
}

.required {
    /*border-color:dodgerblue;*/
}

.required-label:after {
    content: "*" !important;
    padding-left: .2rem;
    color: red;
    position: initial !important;
}

/*Tab Styles*/
.nav-link {
    font-size: 1.1rem;
}

/* https://stackoverflow.com/a/50478244/10802255 */
.w1 {
    width: 70px;
}
.w2 {
    width: 110px;
}