@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<link rel="stylesheet" href="/css/codemirror.css" type="text/css" />
<script type="text/javascript" src="/js/codemirror.js"></script>
<script type="text/javascript" src="/js/codemirror-yaml.js"></script>
<script type="text/javascript" src="/js/yaml-interactivity.js"></script>
<script type="text/javascript" src="/js/js-yaml.js"></script>


<div style="display:flex">
    <div id="Column1" class="column">
        <h2>Data Input</h2>
        <p>For Dependencies, Image, Include, and Exclude fields add multiple items separated by a semicolon. Variants and options are not yet supported with this tool.</p>

        <label for="SelectPackageNumber">Modify Package: </label>
        <select id="SelectPackageNumber" onfocus="SetEditingView('package')" onchange="FillPackageForm()">
            <option value="0">New</option>
        </select>

        <label for="SelectAssetNumber">Modify Asset:</label>
        <select id="SelectAssetNumber" onfocus="SetEditingView('asset')" onchange="FillAssetForm()">
            <option value="0">New</option>
        </select>

        <div id="EditingPackageDiv">

            <div class="tab" >
                <button id="PkgPropTab" class="tab-link" onclick="OpenTab(event, 'PackageProperties')">Package Properties</button>
                <button id="PkgInfoTab" class="tab-link" onclick="OpenTab(event, 'PackageInfo')">Package Info</button>
                <button id="PkgOptVarTab" class="tab-link" onclick="OpenTab(event, 'PackageOptionsVariants')">Options + Variants</button>
            </div>






            <fieldset id="PackageProperties" class="tabcontent">
                <table id="PackagePropertiesTable">
                    <colgroup>
                        <col style="width: 120px;">
                    </colgroup>
                    <tbody>
                        <tr>
                            <td><label for="PackageGoup">Group</label></td>
                            <td><input id="PackageGroup" type="text" oninput="UpdatePackageItem('PackageGroup')" required /></td>
                        </tr>
                        <tr>
                            <td><label for="PackageName">Name</label></td>
                            <td><input id="PackageName" type="text" oninput="UpdatePackageItem('PackageName')" required /></td>
                        </tr>
                        <tr>
                            <td><label for="PackageVersion">Version</label></td>
                            <td><input id="PackageVersion" type="text" oninput="UpdatePackageItem('PackageVersion')" required /></td>
                        </tr>
                        <tr>
                            <td><label for="PackageSubfolder">Subfolder</label></td>
                            <td>
                                <select id="PackageSubfolder" oninput="UpdatePackageItem('PackageSubfolder')" required>
                                    <option value="050-early-mods">050-early-mods</option>
                                    <option value="100-props-textures">100-props-textures</option>
                                    <option value="150-mods">150-mods</option>
                                    <option value="170-terrain">170-terrain</option>
                                    <option value="180-flora">180-flora</option>
                                    <option value="200-residential">200-residential</option>
                                    <option value="300-commercial">300-commercial</option>
                                    <option value="360-landmark">360-landmark</option>
                                    <option value="400-industrial">400-industrial</option>
                                    <option value="410-agriculture">410-agriculture</option>
                                    <option value="500-utilities">500-utilities</option>
                                    <option value="600-civics">600-civics</option>
                                    <option value="610-safety">610-safety</option>
                                    <option value="620-education">620-education</option>
                                    <option value="630-health">630-health</option>
                                    <option value="640-government">640-government</option>
                                    <option value="650-religion">650-religion</option>
                                    <option value="660-parks">660-parks</option>
                                    <option value="700-transit">700-transit</option>
                                    <option value="710-automata">710-automata</option>
                                    <option value="900-overrides">900-overrides</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><label for="PackageDependencies">Dependencies</label></td>
                            <td><textarea id="PackageDependencies" rows="2" oninput="UpdatePackageItem('PackageDependencies')"></textarea></td>
                        </tr>
                        <tr>
                            <td colspan="2"><br />These assets are not part of any variant or option and will be installed for every user.</td>
                        </tr>
                        <tr>
                            <td><label for="SelectPackageAsset">Select Asset:</label></td>
                            <td>
                                <select id="SelectPackageAsset" onchange="FillPackageAssetForm()">
                                    <option value="0">New</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><label for="PackageAssetId">Asset ID</label></td>
                            <td><input id="PackageAssetId" type="text" oninput="UpdatePackageItem('PackageAssetId')" required /></td>
                        </tr>
                        <tr>
                            <td><label for="PackageAssetInclude">Include</label></td>
                            <td><textarea id="PackageAssetInclude" rows="2" oninput="UpdatePackageItem('PackageAssetInclude')"></textarea></td>
                        </tr>
                        <tr>
                            <td><label for="PackageAssetExclude">Exclude</label></td>
                            <td><textarea id="PackageAssetExclude" rows="2" oninput="UpdatePackageItem('PackageAssetExclude')"></textarea></td>
                        </tr>
                    </tbody>
                </table>
                </table>
            </fieldset>

            <fieldset id="PackageInfo" class="tabcontent">
                <table id="PackageInfoTable">
                    <colgroup>
                        <col style="width: 120px;">
                    </colgroup>
                    <tbody>
                        <tr>
                            <td><label for="PackageSummary">Summary</label></td>
                            <td><input id="PackageSummary" type="text" oninput="UpdatePackageItem('PackageSummary')" required /></td>
                        </tr>
                        <tr>
                            <td><label for="PackageWarning">Warning</label></td>
                            <td><input id="PackageWarning" type="text" oninput="UpdatePackageItem('PackageWarning')" /></td>
                        </tr>
                        <tr>
                            <td><label for="PackageConflicts">Conflicts</label></td>
                            <td><input id="PackageConflicts" type="text" oninput="UpdatePackageItem('PackageConflicts')" /></td>
                        </tr>
                        <tr>
                            <td><label for="PackageDescription">Description</label></td>
                            <td><textarea id="PackageDescription" rows="3" oninput="UpdatePackageItem('PackageDescription')"></textarea></td>
                        </tr>
                        <tr>
                            <td><label for="PackageAuthor">Author</label></td>
                            <td><input id="PackageAuthor" type="text" oninput="UpdatePackageItem('PackageAuthor')" /></td>
                        </tr>
                        <tr>
                            <td><label for="PackageImages">Images</label></td>
                            <td><textarea id="PackageImages" rows="2" oninput="UpdatePackageItem('PackageImages')"></textarea></td>
                        </tr>
                        <tr>
                            <td><label for="PackageWebsite">Website</label></td>
                            <td>
                                <input id="PackageWebsite" type="url" oninput="UpdatePackageItem('PackageWebsite')" required />
                                <input id="AddPackageButton" type="button" value="Add Package" onclick="AppendNewPackage()" style="width:100px" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>

            <div id="PackageOptionsVariants" class="tabcontent"></div>
        </div>
        
        <div id="EditingAssetDiv" style="">
            <fieldset id="AssetProperties">
                <legend>Asset Properties</legend>
                <table class="inputForm">
                    <colgroup>
                        <col style="width: 120px;">
                    </colgroup>
                    <tbody>
                        <tr>
                            <td><label for="AssetUrl">URL</label></td>
                            <td><input id="AssetUrl" type="url" oninput="UpdateAssetItem('AssetUrl')" /></td>
                        </tr>
                        <tr>
                            <td><label for="AssetId">Asset ID</label></td>
                            <td><input id="AssetId" type="text" oninput="UpdateAssetItem('AssetId')" /></td>
                        </tr>
                        <tr>
                            <td><label for="AssetVersion">Version</label></td>
                            <td><input id="AssetVersion" type="text" oninput="UpdateAssetItem('AssetVersion')" /></td>
                        </tr>
                        <tr>
                            <td><label for="AssetLastModified">Last Modified</label></td>
                            <td>
                                <input id="AssetLastModified" type="datetime-local" step="1" oninput="UpdateAssetItem('AssetLastModified')" />
                                <input id="AddAssetButton" type="button" value="Add Asset" onclick="AppendNewAsset()" style="margin-left:20px; width:90px" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
        </div>

    </div>


    <div id="Column2" class="column">
        <h2>YAML Output</h2>
        <h5>Creating <span id="FileName">newfile.yaml</span> &nbsp;&nbsp;&nbsp;&nbsp; <span id="CurrentItemCount"></span></h5>
        <p>The contents in this code pane are automatically generated from inputs on the left, but is also able to be customized manually. Beware, manual changes may be overriden if any of the input values are changed!</p>
        @* <p>

            @{
                if(Model.Errors.Count == 0 && Model.YamlText is not null) {
                    <span>&#10;&#13;<span class="text-success">YAML schema validated. No errors found.</span></span>
                } else {
                    foreach (var err in Model.Errors) {
                        <span>&#10;&#13;<span class="@(err.ErrorType == Shared.YamlErrorType.Warning ? "text-warning" :"text-danger")">Line:@err.LineNumber > @err.Message</span></span>
                    }
                }
            }

        </p> *@

        @* <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
        <form method="post" action="javascript:void(0);">
            <input type="submit" value="Validate" onclick="CountItems()" />
            <input id="SubmittedYaml" type="hidden" asp-for="YamlText" />
        </form> *@
        <input type="button" onclick="ParseYaml()" value="Parse YAML" />
        <input type="button" onclick="CopyToClipboard()" value="Copy YAML to Clipboard" />
        <div id="editor"></div>
        
    </div>
    
</div>

