@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<script type="text/javascript" src="/js/site-interactivity.js"></script>
<script type="text/javascript" src="/js/js-yaml.js"></script>

<link rel="stylesheet" href="/css/codemirror.css" type="text/css" />
<script type="text/javascript" src="/js/codemirror.js"></script>
<script type="text/javascript" src="/js/codemirror-yaml.js"></script>

<link rel="stylesheet" href="/css/tom-select.css" type="text/css" />
<script type="text/javascript" src="/js/tom-select.complete.min.js"></script>

<link rel="stylesheet" href="/css/treeview.min.css" type="text/css" />
<script type="text/javascript" src="/js/treeview.min.js"></script>

<div style="display:flex">
    <div id="Column0" class="col-2">
        <h2>File Structure</h2>
        <input type="button" onclick="ClearAll()" value="New Package" />
        <input type="button" class="btn btn-primary"  onclick="ResetAssetInputs()" value="New Asset" />
        <div id="MainTreeView"></div>
    </div>


    @* Left Column *@
    <div id="Column1" class="column">
        
        <h2>Data Input</h2>
        <p>For Dependencies, Image, Include, and Exclude fields add multiple items separated by a semicolon. Variants and are not yet supported with this tool.</p>
        <p>Fields with an asterisk (*) are required.</p>

        <nav class="nav nav-tabs" id="nav-tab" role="tablist">
            <button id="PackagePropertiesTab" class="nav-link active" data-bs-toggle="tab" data-bs-target="#PackagePropertiesContent" type="button" role="tab">Package Properties</button>
            <button id="PackageInfoTab" class="nav-link" data-bs-toggle="tab" data-bs-target="#PackageInfoContent" type="button" role="tab">Package Info</button>
            <button id="PackageAssetsTab" class="nav-link" data-bs-toggle="tab" data-bs-target="#PackageAssetsContent" type="button" role="tab">Package Assets</button>
            <button id="PackageVaraintsTab" class="nav-link" data-bs-toggle="tab" data-bs-target="#PackageVariantsContent" type="button" role="tab">Package Variants</button>
            <button id="AssetPropertiesTab" class="nav-link" data-bs-toggle="tab" data-bs-target="#AssetPropertiesContent" type="button" role="tab">Asset Properties</button>
        </nav>

        <div class="tab-content" id="nav-tabContent">
            @* Package Properties tab *@
            <fieldset id="PackagePropertiesContent" class="tab-pane active m-3" tabindex="0">
                <div class="form-floating mb-2">
                    <input id="PackageGroup" oninput="UpdatePackageData('PackageGroup')" class="form-control required" required>
                    <label for="PackageGoup" class="required-label">Group</label>
                </div>
                <div class="form-floating mb-2">
                    <input id="PackageName" type="text" oninput="UpdatePackageData('PackageName')" class="form-control required" required>
                    <label for="PackageName" class="required-label">Name</label>
                </div>
                <div class="form-floating mb-2">
                    <input id="PackageVersion" type="text" oninput="UpdatePackageData('PackageVersion')" class="form-control  required" required>
                    <label for="PackageVersion" class="required-label">Version</label>
                </div>
                <div class="form-floating mb-2">
                    <input id="PackageSubfolder" oninput="UpdatePackageData('PackageSubfolder')" class="form-control required" required>
                    <label for="PackageSubfolder" class="required-label">Subfolder</label>
                </div>
                <p>Select a package to add as a dependency from one of the dropdowns below:</p>
                <div class="form-floating mb-2">
                    <select id="LocalPackageList" class="form-control" placeholder="Select a package in this file"></select>
                    <label for="LocalPackageList">From this file</label>
                </div>
                <div class="form-floating mb-2">
                    <select id="PacPackageList" class="form-control" placeholder="Select a package" onchange="AddDepencencyFromPacList()"></select>
                    <label for="PacPackageList">From default channel</label>
                </div>
                <div class="form-floating mb-2">
                    <textarea id="PackageDependencies" rows="7" oninput="UpdatePackageData('PackageDependencies')" class="form-control"></textarea>
                    <label for="PackageDependencies">Dependencies</label>
                </div>
            </fieldset>

            @* Package Info tab *@
            <fieldset id="PackageInfoContent" class="tab-pane m-3" tabindex="0">
                <div class="form-floating mb-2">
                    <input id="PackageSummary" type="text" oninput="UpdatePackageData('PackageSummary')" class="form-control required" required>
                    <label for="PackageSummary" class="required-label">Summary</label>
                </div>
                <div class="form-floating mb-2">
                    <input id="PackageWarning" type="text" oninput="UpdatePackageData('PackageWarning')" class="form-control">
                    <label for="PackageWarning">Warning</label>
                </div>
                <div class="form-floating mb-2">
                    <input id="PackageConflicts" type="text" oninput="UpdatePackageData('PackageConflicts')" class="form-control">
                    <label for="PackageConflicts">Conflicts</label>
                </div>
                <div class="form-floating mb-2">
                    <textarea id="PackageDescription" rows="9" oninput="UpdatePackageData('PackageDescription')" class="form-control"></textarea>
                    <label for="PackageDescription">Description</label>
                </div>
                <div class="form-floating mb-2">
                    <input id="PackageAuthor" type="text" oninput="UpdatePackageData('PackageAuthor')" class="form-control">
                    <label for="PackageAuthor">Author(s)</label>
                </div>
                <div class="form-floating mb-2">
                    <textarea id="PackageImages" rows="5" oninput="UpdatePackageData('PackageImages')" class="form-control"></textarea>
                    <label for="PackageImages">Images</label>
                </div>
                <div class="form-floating mb-2">
                    <input id="PackageWebsite" type="url" oninput="UpdatePackageData('PackageWebsite')" class="form-control required" required>
                    <label for="PackageWebsite" class="required-label">Website</label>
                </div>
            </fieldset>

            @* Package Assets + Options tab *@
            <fieldset id="PackageAssetsContent" class="tab-pane m-3" tabindex="0">
                <div style="display:flex">
                    <div class="col-2">
                        <input id="NewPackageAssetButton" class="btn btn-outline-primary btn-sm" type="button" value="+ Include New" onclick="NewIncludedAsset()" />
                        <div id="AssetTreeView"></div>
                    </div>

                    <div class="column">
                        <p>These assets will be installed for every user, regardless of the chosen variant or option. Choose an asset from one of the dropdowns below.</p>
                        <form>
                            <div class="form-floating mb-2">
                                <select id="SelectLocalPackageAssets" class="form-control form-select" onchange="FillPkgAssetId(this)"></select>
                                <label for="SelectLocalPackageAssets">From this file</label>
                            </div>
                            <div class="form-floating mb-2">
                                <select id="SelectPacPackageAssets" class="form-control form-select" onchange="FillPkgAssetId(this)"></select>
                                <label for="SelectPacPackageAssets">From default channel</label>
                            </div>
                            <div class="form-floating mb-2">
                                <input id="PackageAssetId" class="form-control" type="text" disabled>
                                <label for="PackageAssetId">Asset ID</label>
                            </div>
                            <div class="form-floating mb-2">
                                <textarea id="PackageAssetInclude" class="form-control" rows="3" oninput="UpdatePackageData('PackageAssetInclude')"></textarea>
                                <label for="PackageAssetInclude">Include</label>
                            </div>
                            <div class="form-floating mb-2">
                                <textarea id="PackageAssetExclude" class="form-control" rows="3" oninput="UpdatePackageData('PackageAssetExclude')"></textarea>
                                <label for="PackageAssetExclude">Exclude</label>
                            </div>
                            <div class="mb-2">
                                <input id="AddPackageAssetButton" class="btn btn-primary" type="button" value="Add Asset to Package" onclick="AddIncludedAsset()" disabled="disabled" />
                            </div>
                        </form>
                    </div>
                </div>
            </fieldset>

            @* Package Variants tab *@
            <fieldset id="PackageVariantsContent" class="tab-pane m-3" tabindex="0">
                <p>Choose a variant</p>
                <form>
                    <div class="form-floating mb-2">
                        <select id="SelectLocalPackageVariants" class="form-control form-select" onchange="FillPackageVariantsDropdown()"></select>
                        <label for="SelectLocalPackageVariants">This file</label>
                    </div>
                </form>
            </fieldset>

            @* Asset Properties tab *@
            <fieldset id="AssetPropertiesContent" class="tab-pane m-3" tabindex="0">
                <form>
                    <div class="form-floating mb-2">
                        <input id="AssetUrl" type="url" class="form-control required" oninput="UpdateAssetItem('AssetUrl')" required />
                        <label for="AssetUrl" class="required-label">Url</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input id="AssetId" type="text" class="form-control required" oninput="UpdateAssetItem('AssetId')" required />
                        <label for="AssetId" class="required-label">Id</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input id="AssetVersion" type="text" class="form-control required" oninput="UpdateAssetItem('AssetVersion')" required />
                        <label for="AssetVersion" class="required-label">Version</label>
                    </div>
                    <div class="input-group mb-2">
                        <div class="form-floating">
                            <input id="AssetLastModified" type="datetime-local" class="form-control required" step="1" oninput="UpdateAssetItem('AssetLastModified')" required />
                            <label for="AssetLastModified" class="required-label">Last Modified</label>
                        </div>
                        <div class="form-floating">
                            <input id="AssetLastModifiedText" type="text" class="form-control" oninput="FillDateTimePicker()" required />
                            <label for="AssetLastModifiedText">(raw date time value)</label>
                        </div>
                    </div>
                </form>
                <input type="button" id="AddAssetButton" class="btn btn-primary" value="Add New Asset" onclick="AppendNewAsset()" disabled="disabled" />
                <input type="button" id="ClearAssetFormButton" class="btn btn-secondary" value="Clear Inputs" onclick="ResetAssetInputs()" />
            </fieldset>
        </div>


        <input type="button" id="AddPackageButton" value="Add New Package" onclick="AppendNewPackage()" disabled="disabled" />
    </div>

    @* Right Column *@
    <div id="Column2" class="column">
        <h2>YAML Output</h2>
        <h5><span id="CurrentItemCount"></span></h5>
        <p>The contents in this code pane are automatically generated from inputs on the left, but is also able to be customized manually. Beware, manual changes may be overriden if any of the input values are changed!</p>
        @* <p>

            @{
                if(Model.Errors.Count == 0 && Model.YamlText is not null) {
                    <span>&#10;&#13;<span class="text-success">YAML schema validated. No errors found.</span></span>
                } else {
                    foreach (var err in Model.Errors) {
                        <span>&#10;&#13;<span class="@(err.ErrorType == Shared.YamlErrorType.Warning ? "text-warning" :"text-danger")">Line:@err.LineNumber > @err.Message</span></span>
                    }
                }
            }

        </p> *@

        @* <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
        <form method="post" action="javascript:void(0);">
            <input type="submit" value="Validate" onclick="CountItems()" />
            <input id="SubmittedYaml" type="hidden" asp-for="YamlText" />
        </form> *@
        <input type="button" onclick="ParseYaml()" value="Parse YAML" />
        <input type="button" onclick="CopyToClipboard()" value="Copy YAML to Clipboard" />
        <input type="button" onclick="ClearAll()" value="Clear All" />

        <div id="editor"></div>
        
    </div>
    
</div>

