@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<script type="text/javascript" src="/js/site-interactivity.js"></script>
<script type="text/javascript" src="/js/js-yaml.js"></script>

<link rel="stylesheet" href="/css/codemirror.css" type="text/css" />
<script type="text/javascript" src="/js/codemirror.js"></script>
<script type="text/javascript" src="/js/codemirror-yaml.js"></script>

<link rel="stylesheet" href="/css/tom-select.css" type="text/css" />
<script type="text/javascript" src="/js/tom-select.complete.min.js"></script>

<link rel="stylesheet" href="/css/treeview.min.css" type="text/css" />
<script type="text/javascript" src="/js/treeview.min.js"></script>

<div style="display:flex">
    <div id="Column0" class="col-2">
        <h2>File Structure</h2>
        <input type="button" onclick="ClearAll()" value="New Package" />
        <input type="button" onclick="ClearAll()" value="New Asset" />
        <div id="MainTreeView"></div>
    </div>


    @* Left Column *@
    <div id="Column1" class="column">
        
        <h2>Data Input</h2>
        <p>For Dependencies, Image, Include, and Exclude fields add multiple items separated by a semicolon. Variants and are not yet supported with this tool.</p>

        <div class="tab">
            <button id="PkgPropTab" class="tab-link" onclick="OpenTab(event, 'PackageProperties')">Package Properties</button>
            <button id="PkgInfoTab" class="tab-link" onclick="OpenTab(event, 'PackageInfo')">Package Info</button>
            <button id="PkgAssetsTab" class="tab-link" onclick="OpenTab(event, 'PackageAssets')">Package Assets</button>
            <button id="PkgVariantsTab" class="tab-link" onclick="OpenTab(event, 'PackageVariants')">Package Variants</button>
            <button id="AssetsTab" class="tab-link" onclick="OpenTab(event, 'AssetProperties')">Asset Properties</button>
        </div>



        <div id="EditingPackageDiv" class="invisible2">

            @* Package Properties tab *@
            <fieldset id="PackageProperties" class="tabcontent">
                <table id="PackagePropertiesTable">
                    <colgroup>
                        <col style="width: 120px;">
                    </colgroup>
                    <tbody>
                        <tr>
                            <td><label for="PackageGoup">Group</label></td>
                            <td><input id="PackageGroup" type="text" oninput="UpdatePackageData('PackageGroup')" class="required" /></td>
                        </tr>
                        <tr>
                            <td><label for="PackageName">Name</label></td>
                            <td><input id="PackageName" type="text" oninput="UpdatePackageData('PackageName')" class="required" /></td>
                        </tr>
                        <tr>
                            <td><label for="PackageVersion">Version</label></td>
                            <td><input id="PackageVersion" type="text" oninput="UpdatePackageData('PackageVersion')" class="required" /></td>
                        </tr>
                        <tr>
                            <td><label for="PackageSubfolder">Subfolder</label></td>
                            <td>
                                <select id="PackageSubfolder" oninput="UpdatePackageData('PackageSubfolder')" required>
                                    <option value="050-load-first">050-load-first</option>
                                    <option value="100-props-textures">100-props-textures</option>
                                    <option value="150-mods">150-mods</option>
                                    <option value="170-terrain">170-terrain</option>
                                    <option value="180-flora">180-flora</option>
                                    <option value="200-residential">200-residential</option>
                                    <option value="300-commercial">300-commercial</option>
                                    <option value="360-landmark">360-landmark</option>
                                    <option value="400-industrial">400-industrial</option>
                                    <option value="410-agriculture">410-agriculture</option>
                                    <option value="500-utilities">500-utilities</option>
                                    <option value="600-civics">600-civics</option>
                                    <option value="610-safety">610-safety</option>
                                    <option value="620-education">620-education</option>
                                    <option value="630-health">630-health</option>
                                    <option value="640-government">640-government</option>
                                    <option value="650-religion">650-religion</option>
                                    <option value="660-parks">660-parks</option>
                                    <option value="700-transit">700-transit</option>
                                    <option value="710-automata">710-automata</option>
                                    <option value="900-overrides">900-overrides</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                Select a package to add as a dependency from one of the dropdowns below
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <label for="LocalPackageList">Packages in this file &nbsp;&nbsp;</label>
                                <select id="LocalPackageList" placeholder="Select a package in this file"></select>
                                <br />
                                <label for="PacPackageList">Existing packages in sc4pac &nbsp;&nbsp;</label>
                                <select id="PacPackageList" placeholder="Select a package" onchange="AddDepencencyFromPacList()"></select>
                            </td>
                        </tr>
                        <tr>
                            <td><label for="PackageDependencies">Dependencies</label></td>
                            <td><textarea id="PackageDependencies" rows="7" oninput="UpdatePackageData('PackageDependencies')"></textarea></td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>

            @* Package Info tab *@
            <fieldset id="PackageInfo" class="tabcontent">
                <table id="PackageInfoTable">
                    <colgroup>
                        <col style="width: 120px;">
                    </colgroup>
                    <tbody>
                        <tr>
                            <td><label for="PackageSummary">Summary</label></td>
                            <td><input id="PackageSummary" type="text" oninput="UpdatePackageData('PackageSummary')" class="required" /></td>
                        </tr>
                        <tr>
                            <td><label for="PackageWarning">Warning</label></td>
                            <td><input id="PackageWarning" type="text" oninput="UpdatePackageData('PackageWarning')" /></td>
                        </tr>
                        <tr>
                            <td><label for="PackageConflicts">Conflicts</label></td>
                            <td><input id="PackageConflicts" type="text" oninput="UpdatePackageData('PackageConflicts')" /></td>
                        </tr>
                        <tr>
                            <td><label for="PackageDescription">Description</label></td>
                            <td><textarea id="PackageDescription" rows="9" oninput="UpdatePackageData('PackageDescription')"></textarea></td>
                        </tr>
                        <tr>
                            <td><label for="PackageAuthor">Author</label></td>
                            <td><input id="PackageAuthor" type="text" oninput="UpdatePackageData('PackageAuthor')" /></td>
                        </tr>
                        <tr>
                            <td><label for="PackageImages">Images</label></td>
                            <td><textarea id="PackageImages" rows="5" oninput="UpdatePackageData('PackageImages')"></textarea></td>
                        </tr>
                        <tr>
                            <td><label for="PackageWebsite">Website</label></td>
                            <td><input id="PackageWebsite" type="url" oninput="UpdatePackageData('PackageWebsite')" class="required" /></td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>

            @* Package Assets + Options tab *@
            <fieldset id="PackageAssets" class="tabcontent" >
                <div style="display:flex">
                    <div class="col-2">
                        <div id="AssetTreeView"></div>
                    </div>

                    <div class="column">
                        <p>These assets will be installed for every user, regardless of the chosen variant or option. Choose an asset from one of the dropdowns below.</p>
                        <form>
                            <div class="mb-2 input-group">
                                <span class="input-group-text font-monospace">this file</span>
                                <select id="SelectLocalPackageAssets" class="form-select" onchange="FillLocalPackageAssetDropdown()"></select>
                            </div>
                            <div class="mb-2 input-group">
                                <span class="input-group-text font-monospace">sc4pac&nbsp;&nbsp;&nbsp;</span>
                                <select id="SelectPacPackageAssets" class="form-select" onchange="FillPacPackageAssetDropdown()"></select>
                            </div>
                            <div class="mb-2 input-group">
                                <span class="input-group-text font-monospace">asset id&nbsp;</span>
                                <input id="PackageAssetId" class="form-control" type="text" disabled="disabled" />
                            </div>
                            <div class="mb-2 input-group">
                                <span class="input-group-text">Include</span>
                                <textarea id="PackageAssetInclude" class="form-control" rows="3" oninput="UpdatePackageData('PackageAssetInclude')"></textarea>
                            </div>
                            <div class="mb-2 input-group">
                                <span class="input-group-text">Exclude</span>
                                <textarea id="PackageAssetExclude" class="form-control" rows="3" oninput="UpdatePackageData('PackageAssetExclude')"></textarea>
                            </div>
                            <div class="mb-2">
                                <input id="AddPackageAssetButton" class="btn btn-primary" type="button" value="Add Asset to Package" onclick="AddAssetToPackage()" disabled="disabled" />
                            </div>
                        </form>
                    </div>
                </div>
            </fieldset>

            @* Package Variants tab *@
            <fieldset id="PackageVariants" class="tabcontent">
                <table id="PackageVariantsTable">
                    <colgroup>
                        <col style="width: 120px;">
                    </colgroup>
                    <tbody>
                        <tr>
                            <td><label for="SelectPackageVariant">Variant in package</label></td>
                            <td>
                                <select id="SelectPackageVariant" onchange="FillPackageAssetForm()">
                                    <option value="0">Add Variant</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <label for="SelectLocalPackageVariants">Variants in this file &nbsp;&nbsp;</label>
                                <select id="SelectLocalPackageVariants" onchange="FillPackageVariantsDropdown()">
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><label for="PackageVariantId">Variant Id</label></td>
                            <td><input id="PackageVariantId" type="text" disabled="disabled" /></td>
                        </tr>
                        <tr>
                            <td><label for="PackageAssetInclude">Include</label></td>
                            <td><textarea id="PackageAssetInclude" rows="3" oninput="UpdatePackageData('PackageAssetInclude')"></textarea></td>
                        </tr>
                        <tr>
                            <td><label for="PackageAssetExclude">Exclude</label></td>
                            <td>
                                <textarea id="PackageAssetExclude" rows="3" oninput="UpdatePackageData('PackageAssetExclude')"></textarea>
                                <input id="AddPackageAssetButton" type="button" value="Add Asset to Package" onclick="AddAssetToPackage()" disabled="disabled" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>

            <input type="button" id="AddPackageButton" value="Add New Package" onclick="AppendNewPackage()" disabled="disabled" />
        </div>

        <div id="EditingAssetDiv" style="" class="invisible2">

            @* Asset Properties tab *@
            <fieldset id="AssetProperties" class="tabcontent">
                <legend>Asset Properties</legend>
                <table class="inputForm">
                    <colgroup>
                        <col style="width: 120px;">
                    </colgroup>
                    <tbody>
                        <tr>
                            <td><label for="AssetUrl">URL</label></td>
                            <td><input id="AssetUrl" type="url" oninput="UpdateAssetItem('AssetUrl')" class="required" /></td>
                        </tr>
                        <tr>
                            <td><label for="AssetId">Asset ID</label></td>
                            <td><input id="AssetId" type="text" oninput="UpdateAssetItem('AssetId')" class="required" /></td>
                        </tr>
                        <tr>
                            <td><label for="AssetVersion">Version</label></td>
                            <td><input id="AssetVersion" type="text" oninput="UpdateAssetItem('AssetVersion')" class="required" /></td>
                        </tr>
                        <tr>
                            <td><label for="AssetLastModified">Last Modified</label></td>
                            <td><input id="AssetLastModified" type="datetime-local" step="1" oninput="UpdateAssetItem('AssetLastModified')" class="required" /><input id="AssetLastModifiedText" type="text" oninput="FillDateTimePicker()" style="width:180px;" /></td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>

            <input type="button" id="AddAssetButton" value="Add New Asset" onclick="AppendNewAsset()" disabled="disabled" />
        </div>
    </div>

    @* Right Column *@
    <div id="Column2" class="column">
        <h2>YAML Output</h2>
        <h5><span id="CurrentItemCount"></span></h5>
        <p>The contents in this code pane are automatically generated from inputs on the left, but is also able to be customized manually. Beware, manual changes may be overriden if any of the input values are changed!</p>
        @* <p>

            @{
                if(Model.Errors.Count == 0 && Model.YamlText is not null) {
                    <span>&#10;&#13;<span class="text-success">YAML schema validated. No errors found.</span></span>
                } else {
                    foreach (var err in Model.Errors) {
                        <span>&#10;&#13;<span class="@(err.ErrorType == Shared.YamlErrorType.Warning ? "text-warning" :"text-danger")">Line:@err.LineNumber > @err.Message</span></span>
                    }
                }
            }

        </p> *@

        @* <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
        <form method="post" action="javascript:void(0);">
            <input type="submit" value="Validate" onclick="CountItems()" />
            <input id="SubmittedYaml" type="hidden" asp-for="YamlText" />
        </form> *@
        <input type="button" onclick="ParseYaml()" value="Parse YAML" />
        <input type="button" onclick="CopyToClipboard()" value="Copy YAML to Clipboard" />
        <input type="button" onclick="ClearAll()" value="Clear All" />

        <div id="editor"></div>
        
    </div>
    
</div>

